{% extends 'bootstrap/base.html' %}
<html>

<head>
    <title>Parabible</title>
</head>

<body>
    {% block navbar %}
    <nav class="nav_box">
        <h1>Parabible</h1>
        <button class="mv_button">About us</button>
        <button class="mv_button">Search</button>
        <button class="mv_button">Log in</button>
    </nav>
    {% endblock %}
    <div class="container float-right">
        <ul class="list-group">
            <li class="list-group-item active">About ParaBible</li>
            <li class="list-group-item">Our Mission</li>
            <li class="list-group-item">How to use</li>
        </ul>
    </div>  
</body>

</html>