<html>

<head>
    <title>Parabible</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    {% block navbar %}
    <header>
    <nav class="nav_box">
        <h1>Parabible</h1>
        <div align="right">
            <button class="mv_button">About us</button>
            <button class="mv_button">Search</button>
            <button class="mv_button">Log in</button>
        </div>
    </nav>
    </header>
    {% endblock %}

    {% block text_field %}
    <div>
        <ul>
            <li>About ParaBible</li>
            <li>Our Mission</li>
            <li>How to use</li>
        </ul>
    </div>
    {% endblock %}
</body>

</html>