<html>

<head>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/win95.css" />
</head>
<header>
    <div>
        <b>ParaCorpus</b>
    </div>
    <div>
        <nav class="nav_box">
            <a href="" class="win_btn">   Чебурашка  </a> |
            <a href="" class="win_btn">   Гена       </a> |
            <a href="" class="win_btn">   Шапокляк   </a> |
            <a href="" class="win_btn">   Лариска    </a>
        </nav>
    </div>
</header>

<body>
    <div class="column_parent" id="main_table">
        <div class="row head_row">
            <div class="inner_row">
                <div class="item column_header lang1">
                    <div>Русский</div>
                    <button class="mv_button" onclick="swapCol(event,this, right=true);">⇔</button>
                </div>
                <div class="item column_header lang2">
                    <div>English</div>
                    <button class="mv_button" onclick="swapCol(event,this, right=true);">⇔</button>
                </div>
                <div class="item column_header lang3">
                    <div>Ещё русский</div>
                    <button class="mv_button" onclick="swapCol(event,this, right=true);">⇔</button>
                </div>
                <div class="item column_header lang4">
                    <div>Deutsch</div>
                    <button hidden="true" class="mv_button" onclick="swapCol(event,this, right=true);">⇔</button>
                </div>
            </div>
        </div>
        <div class="row item_row">
            <div class="inner_row">
                <div class="item column_item lang1 line1">
                    <p>Я лебя люблю</p>
                </div>
                <div class="item column_item lang2 line1">
                    <p>I love you</p>
                </div>

                <div class="item column_item lang3 line1">
                    <p>Да ты мне как брат, чувак</p>
                </div>
                <div class="item column_item lang4 line1">
                    <p>Ich liebe dich</p>
                </div>
            </div>
        </div>
        <div class="row item_row">
            <div class="inner_row">
                <div class="item column_item lang1 line2">
                    <p>Очень очень очень очень очень очень очень очень очень очень очень очень очень очень очень очень очень очень очень длинный текст</p>
                </div>
                <div class="item column_item lang2 line2">
                    <p>Very short text</p>
                </div>

                <div class="item column_item lang3 line2">
                    <p>Капец длинная херь, ваще отпад</p>
                </div>
                <div class="item column_item lang4 line2">
                    <p>Mittlerer Text. Mittlerer Text. Mittlerer Text. Mittlerer Text. Mittlerer Text. Mittlerer Text. </p>
                </div>
            </div>
        </div>
        <div class="row item_row">
            <div class="inner_row">
                <div class="item column_item lang1 line3">
                    <p>Как у тебя дела</p>
                </div>
                <div class="item column_item lang2 line3">
                    <p>How are you doing</p>
                </div>
                <div class="item column_item lang3 line3">
                    <p>Че как житуха братуха?</p>
                </div>
                <div class="item column_item lang4 line3">
                    <p>Wie geht es dir?</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function getCls(elem, pref) {
        clss = elem.classList;
        for (i = 0; i < clss.length; i++) {
            if (clss[i].includes(pref)) {
                return clss[i];
            }
        }
        return "";
    }

    function getLangCards(elem) {
        lang_cls = getCls(elem.parentElement, "lang");
        head_row = document.getElementsByClassName("head_row")[0];
        col_head = head_row.getElementsByClassName(lang_cls)[0];
        return document.getElementsByClassName(lang_cls);
    }

    function getSibling(elem, mv_right) {
        if (mv_right) sec_elem = elem.nextElementSibling;
        else sec_elem = elem.previousElementSibling;
        if (!sec_elem) return false;
        return sec_elem;
    }

    function swapElements(elem, mv_right) {
        let sec_elem = getSibling(elem, mv_right);
        if (!sec_elem) return false;

        let dummy = document.createElement("span")
        elem.before(dummy)
        sec_elem.before(elem)
        dummy.replaceWith(sec_elem)
        return true;
    }

    function rmEdgeButtons(elem) {
        elem.getElementsByClassName("mv_right")[0].hidden = !elem.nextElementSibling;
        elem.getElementsByClassName("mv_left")[0].hidden = !elem.previousElementSibling;
    }

    function swapCol(event, elem, mv_right) {
        let all_cards = getLangCards(elem);
        let cur_header = all_cards[0];
        let sibling_header = getSibling(cur_header, mv_right);
        if (!sibling_header) return;
        swapElements(cur_header, mv_right);
        rmEdgeButtons(cur_header);
        rmEdgeButtons(sibling_header);
        for (i = 1; i < all_cards.length; i++)
            if (!swapElements(all_cards[i], mv_right)) return;
    }
</script>

</html>