<!DOCTYPE html>
<html>

<head>{% extends 'bootstrap/base.html' %}</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" style="height: 10px; font-size: xx-large;">Parabible</a>
      <div class="navbar-collapse collapse navbar-right" style="height: 0.8px; margin-top: 10px;">
        <ul class="nav navbar-nav btn-group">
          <a href="home"><button class="button">About us</button></a>
          <a href="library"><button class="button">Search</button></a>
          <button class="button">Log in</button>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}
  <div class="row d-flex justify-content-center">
    <div class="col-sm-3 mx-left"></div>
    <div class="col-sm-5 mx-center">
      <form method="post" action="/corpus">
        <label for="ids_input">Verses ids</label>
        <br>
        <textarea name="ids_input" rows="3" cols="60">40,1,1; 40,1,2; 40,2,1; 40,2,2</textarea>
        <br>
        <label>Texts</label>
        <ul class="list-group">
          {% for book in book_list %}
          <li class="list-group-item">
            <a href="#item1" data-toggle="collapse">{{ book }}</a>
            <ul id="item1" class="collapse in list-group">
              {% for text in book_list[book] %}
              <div class="form-check">
                <li class="list-group-item">{{ text["vernacular_title"] }}
                  <input type="checkbox" class="form-check-input" name="{{ text['id'] }}">
                </li>
              </div>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        <input type="submit">
      </form>
    </div>
    <div class="col-sm-4 mx-right"></div>
  </div>
  {% endblock %}
</body>

</html>